:host {
    grid-row-start: v-center-top;
    grid-row-end: v-center-bot;
    grid-column-start: h-center;
    grid-column-end: h2-center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #02023d;
    margin-top: 0px;
  margin-bottom: -270px;
  margin-left: -200px;
  margin-right: -150px;
    min-width: 200px;
  color: #ffe55c;
  font-size: 21px;
  }

  .form{
    margin-top: 30px;
  }

.form2{
  padding: 45px 20px 28px 20px;
  margin-top: 110px;
  border: #ccc62e solid;
  background-color: #02023d;
  border-radius: 23px;
}



  #email{
    margin-bottom: 60px;
    margin-top: 60px;
  }

  #signin{
    margin-top: 50px;
    background-color: #ccc62e;
  }

 #signin:hover{
  margin-top: 50px;
  background-color: #f8f440;
}

  #password{
    margin-top: 10px;
  }
