<footer class="footer bg-dark">
  <!--  <div class="container" class="text-center p-2"><p>Cinemaster S.r.l. SEDE LEGALE Via Roma 2, 21200 Torino (TO) PARTITA IVA: 01948530181
       Credits: Master Informatica S.r.l. 2023 © Tutti i diritti riservati.</p></div> -->
    <div class="container" class="text-center p-2">
      <i style="color:rgb(232, 229, 2); float: start; margin-left: -450px">Cinemaster S.r.l. SEDE LEGALE Via Roma 2, 21200 Torino (TO) P. IVA: 01948533333</i>

      <i style="color: rgb(232, 229, 2); float: right; margin-right: 60px">Credits: Master Informatica S.r.l. 2023 © Tutti i diritti riservati</i>

      <!--<a href="#">footer works!</a>-->
       </div>
</footer>
