<img src="./assets/cinemaIntro.jpg">
  <p>
  Da quando la famiglia Lombardi si è insediata a Torino, sapeva che il solo scopo della sua esistenza era portare la
  cultura del cinema alla portata di tutti.<br>
  I lavori per la nuova struttura iniziarono nel Dicembre 2018 fin dalle fondamenta. Un lungo processo fatto di cavilli
  burocratici e, in particolar modo, dall'arrivo del Covid-19.<br>
  Il cinema, infine, venne aperto nell'Aprile 2022, con un fitto pallinsesto che consisteva anche in innumerevoli incontri
  dal vivo con personaggi di alto calibro nell'ambiente da decenni.<br>
  Vi lasciamo con le parole che il fondatore disse all'inaugurazione:</p>
<blockquote><em>"Faremo in modo che i loro sogni divengano realtà!"</em><p><em>Cit. Alfonso Lombardi</em></p></blockquote>
