<button class="menu_button"
        (click)="goTo('home')"><i class="fas fa-home"></i>
  &nbsp;&nbsp;Home</button>
<button class="menu_button"
        (click)="goTo('user')"><i class="fas fa-user"></i>
  &nbsp;&nbsp;Profile</button>
<button class="menu_button"
        (click)="goTo('film')"><i class="fas fa-film"></i>
  &nbsp;&nbsp;Movies</button>
<button class="menu_button"
        (click)="goTo('tickets')"><i class="fas fa-ticket-alt"></i>
  &nbsp;&nbsp;Tickets </button>

<!--
<button [class]="{selected: view === 'home'}"
        (click)="goTo('home')">
    Home</button>
<button [class]="{selected: view === 'user'}"
        (click)="goTo('user')">
    Profile</button>
<button [class]="{selected: view === 'film'}"
        (click)="goTo('film')">
    Movies</button>
<button [class]="{selected: view === 'tickets'}"
        (click)="goTo('tickets')">
    Tickets</button>
-->
