<app-header></app-header>

<app-menu *ngIf="view!=='signin' && view!=='signup'"></app-menu>

<app-home *ngIf="view==='home'"></app-home>
<app-film-collection *ngIf="view==='movies'"></app-film-collection>
<app-user-profile *ngIf="view==='user'"></app-user-profile>
<app-tickets *ngIf="view==='tickets'"></app-tickets>
<app-presentation *ngIf="view==='presentation'"></app-presentation>
<app-sign-in *ngIf="view==='signin'"></app-sign-in>
<app-sign-up *ngIf="view==='signup'"></app-sign-up>
<lib-ng-toast></lib-ng-toast>

<app-footer></app-footer>