<app-header></app-header>

    <app-menu *ngIf="view !=='signin'"></app-menu>
    <!--<app-user-profile
                      *ngIf="view === 'profile'">
    </app-user-profile>
    <app-new-collectible
      *ngIf="view === 'collection'">
    </app-new-collectible>-->


    <app-film-collection *ngIf="view==='home'"></app-film-collection>
    <app-presentation *ngIf="view==='presentation'"></app-presentation>
    <app-sign-in *ngIf="view==='signin'"></app-sign-in>
    <!--app-menu></app-menu>-->
    <lib-ng-toast></lib-ng-toast>
    <!--<app-sign-in ></app-sign-in>-->
<app-footer></app-footer>
