<div>
  <h1>Benvenuto tra noi!</h1>
  <p>Dacci qualche credenziale su di te:</p>
</div>
<form>
  <div class="form-group">
    <label style="margin-top: 0px;margin-bottom: 20px;"><i class="fas fa-at"></i>  Name</label>
    <input type="name" class="form-control" placeholder="Enter name" [value]="name" (change)="updateName($event)">
  </div>
  <div class="form-group">
    <label style="margin-top: 0px;margin-bottom: 20px;"><i class="fas fa-at"></i>  Surname</label>
    <input type="name" class="form-control" placeholder="Enter surname" [value]="surname" (change)="updateSurname($event)">
  </div>
  <div class="form-group">
    <label style="margin-top: 0px;margin-bottom: 20px;"><i class="fas fa-at"></i>  Email</label>
    <input type="name" class="form-control" placeholder="Enter email" [value]="email" (change)="updateEmail($event)">
  </div>
  <div class="form-group">
    <label style="margin-top: 0px;margin-bottom: 20px;"><i class="fas fa-at"></i>  Password</label>
    <input type="name" class="form-control" placeholder="Enter new password" [value]="password" (change)="updatePassword($event)">
  </div>
  <div class="form-group">
    <label style="margin-top: 0px;margin-bottom: 20px;"><i class="fas fa-at"></i>  Birthdate</label>
    <input type="name" class="form-control" placeholder="Enter your birthdate" [value]="birthdate" (change)="updateBirthdate($event)">
  </div>
  <button id="signup" mat-raised-button type="submit" (click)="signup($event)">Submit</button>
</form>
