:host {
  grid-row-start: v-center-top;
  grid-row-end: v-center-bot;
  grid-column-start: h-center;
  grid-column-end: h2-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #02023d;
  margin-top: 0px;
  margin-bottom: -270px;
  margin-left: -200px;
  margin-right: -150px;
  min-width: 200px;
  color: #ffe55c;
  font-size: 21px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a8/Leonard_Nimoy_William_Shatner_Star_Trek_1968.JPG');
  background-repeat: no-repeat;
  background-position-x: left;
  background-blend-mode: overlay;
}

h1{
  font-weight: bold;
margin-top: 10px;
}

.form{
  margin-top: 0px;
}

.form2{
  padding: 45px 20px 28px 20px;
  margin-top: 11px;
  border: #ccc62e solid;
 /* background-color: #02023d;*/
  border-radius: 23px;
}

.form-group{
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  width: 400px;
}

#email{
  margin-bottom: 60px;
  margin-top: 60px;
}

#signup{
  margin-top: 10px;
  background-color: #ccc62e;
}

#signup:hover{
  background-color: #f8f440;
}

#password{
  margin-top: 10px;
}
