<h2 class="collection-title"><i class="fas fa-video" style="color: #ccc62e;"></i>&nbsp;&nbsp;Film attualmente in sala&nbsp;&nbsp;<i class="fas fa-video fa-rotate-180" style="color: #ccc62e;"></i></h2>

<section class="cards">
    <ng-container *ngFor="let film of films, let pos = index">
        <div class="card" (click)="toTicket(film)">
          <p class="card__cat">
            {{film.categoria}}
          </p>
            <div class="card__image-container">
              <img
                src='/assets/images/{{film.img}}' />


            </div>
            <div class="card__content">
              <p class="card__title text--medium">
                {{film.titolo}}
                <i class="fas fa-star" style="color: #ffea00;"></i>
                <i class="fas fa-star" style="color: #ffea00;"></i>
                <i class="fas fa-star" style="color: #ffea00;"></i>
                <i class="fas fa-star" style="color: #ffea00;"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fas fa-star-half-alt" style="color: #ffea00;"></i>
                <i class="fas fa-star-half" style="color: #ffea00;"></i></p>
                <p class="card__title text--medium">
                    {{film.descrizione}}
                </p>
                <div class="card__info">
                    <p class="text--medium"><i class="far fa-clock"></i>&nbsp; {{film.durata}} Min</p>
                    <p class="card__price text--medium"><i class="fas fa-tag"></i>&nbsp;  {{film.prezzo}} €</p>
                </div>
            </div>
        </div>
    </ng-container>

</section>
