:host {
    grid-row-start: v-center-top;
    grid-row-end: footer;
    grid-column-start: h-center;
    grid-column-end: end;
    background-color: rgb(2, 2, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  background-image: url('https://upload.wikimedia.org/wikipedia/it/b/b4/USS_Enterprise_NCC-1701.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-blend-mode: overlay;

}

.collection-title {
  font-family: "Bradley Hand ITC";
    background-color: rgb(9, 26, 82);
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(232, 229, 2);
    margin: 10px;
    padding: 10px;
    align-self: stretch;
}


.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
  overflow: scroll;
  margin: 40px;
  margin-top: 20px;

}
.cards::-webkit-scrollbar {
  display: none;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}
.card__cat {
  margin-bottom: 20px;
  background-color: #ccc62e;
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: limegreen;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
