<h2 class="collection-title"><i class="fas fa-video" style="color: #ccc62e;"></i>&nbsp;&nbsp;Ora fuori!&nbsp;&nbsp;<i class="fas fa-video fa-rotate-180" style="color: #ccc62e;"></i></h2>


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" *ngFor="let film of films let i = index">
    <li data-target="#carouselExampleCaptions" data-slide-to="i" [ngClass]="{'active': i == 0 }"></li>
</ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let film of films let i = index"
      [ngClass]="{'active': i == 0 }">
      <img src="/assets/images/{{film.img}}" class="d-block w-100">
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" style="position: fixed; top: 0; left:200px">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" style="position: fixed; top: 0; right:0">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
