<div class="form">
  <h1>Ciao {{user.nome}}!</h1>
  <div class="form2">
    <form class="container text-center">
      <div class="form-group">
        <h2>I tuoi dati di registrazione:</h2>
        <ul style="text-align: start;margin-left: 28%;">
          <li>Id accesso: {{user.id}}</li>
          <li>Nome: {{user.nome}}</li>
          <li>Cognome: {{user.cognome}}</li>
          <li>Email: {{user.email}}</li>
          <li>Data di nascita: {{user.dataNascita | date:'longDate'}}</li>
        </ul>
      </div>
    </form>
  </div>

  <h2 style="margin-top: 30px;margin-bottom: 20px;">La tua lista acquisti</h2>
  <div *ngIf="tickets!==undefined && tickets!==null && tickets.length>0" style="padding: 30px;margin-left: 130px;">
    <div class="card__info22">

      <i style="width: 171px;position: center;margin-left: 1px">Titolo</i>
      <i style="width: 317px;position: center;padding-left: 92px">Data</i>

      <i style="width: 100px;position: center">Posti</i>
      <i style="width: 100px;position: center;padding-left: 50px">Prezzo</i>

      <i style="width: 100px;position: center;padding-left: 58px">Pagato</i>

    </div>
    <ng-container *ngFor="let ticket of tickets, let pos = index">
      <div>
        <div class="card__info">
          <div class="circular--landscape">
            <img src='/assets/images/{{films[ticket.filmId].img}}' />
          </div>
          <i style="width: 171px;position: center;margin-left: 30px">{{films[ticket.filmId].titolo}}</i>

          <i style="width: 317px;position: center">{{ticket.dataOra | date:'medium'}}</i>

          <i style="width: 180px;position: center">{{ticket.numeroPersone}}: {{ticket.posti}}</i>

          <i style="width: 100px;position: center">{{ticket.prezzoTotale}} €</i>
          <i style="width: 100px;position: center"><ng-container
              *ngIf="ticket.pagato === true; then first else second"></ng-container>
            <ng-template #first>Sì</ng-template>
            <ng-template #second>No</ng-template>
          </i>

        </div>
      </div>
      <hr>
    </ng-container>
  </div>
</div>